<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 지수의 포트폴리오 </title>
    <link rel="stylesheet" href="/public/main.css">
</head>

<body>
    <!-- header -->
    <header>
        <h2> JISOO's PORTFOLIO </h2>
        <nav>
            <menu>
                <li> HOME </li>
                <li> <a href="/views/about.html">ABOUT ME </a></li>
                <li> SKILLS </li>
                <li> MY WORK </li>
            </menu>
        </nav>
    </header>

    <!-- main -->
    <main>
        <div id="content">
            <p> 안녕하세요. </p>
            <p> 끊임없이 성장하는 풀스택 개발자 신지수입니다. </p>
            <p> Full-Stack Developer </p>
        </div>
        <input type="button" value="자세히 알아보기" id="info" onclick="location.href='/views/about.html'">
    </main>


    <!-- footer -->
    <footer>
        © 2024. 신지수 Co. all rights reserved.
    </footer>

</body>

</html>