<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 지수의 포트폴리오 </title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="skill.css">
</head>

<body>
    <!-- header -->
    <header>
        <h2> <a href="/"> JISOO's PORTFOLIO </a></h2>
        <nav>
            <menu>
                <li><a href="/"> HOME </a></li>
                <li><a href="/aboutMe"> ABOUT ME </a></li>
                <li><a href="/skills"> SKILLS </a></li>
                <li><a href="/work"> MY WORK </a></li>
            </menu>
        </nav>
    </header>

    <!-- main -->
    <main>
        <div id="skillBox">
            <!-- Design -->
            <div class="skill lang"> Design
                <div class="lineBar">
                    <p> Adobe Photoshop </p>
                    <div class="barLine">
                        <div class="bar bar01"></div>
                    </div>
                    <p> Adobe illustrator </p>
                    <div class="barLine">
                        <div class="bar bar02"></div>
                    </div>
                    <p> Adobe Indesign </p>
                    <div class="barLine">
                        <div class="bar bar03"></div>
                    </div>
                    <p> Figma </p>
                    <div class="barLine">
                        <div class="bar bar04"></div>
                    </div>
                </div>
            </div>


            <!-- front -->
            <div class="skill lang"> Language - Front
                <div class="lineBar">
                    <p> HTML5 </p>
                    <div class="barLine">
                        <div class="bar bar05"></div>
                    </div>
                    <p> CSS3 </p>
                    <div class="barLine">
                        <div class="bar bar06"></div>
                    </div>
                    <p> Javascript </p>
                    <div class="barLine">
                        <div class="bar bar07"></div>
                    </div>
                    <p> JQuery </p>
                    <div class="barLine">
                        <div class="bar bar08"></div>
                    </div>
                </div>
            </div>

            <!-- back -->
            <div class="skill lang"> Language - Back
                <div class="lineBar">
                    <p> Node.js </p>
                    <div class="barLine">
                        <div class="bar bar09"></div>
                    </div>
                    <p> Python </p>
                    <div class="barLine">
                        <div class="bar bar10"></div>
                    </div>
                    <p> Java - Springboot </p>
                    <div class="barLine">
                        <div class="bar bar20"></div>
                    </div>
                </div>
            </div>

            <!-- tool -->
            <div class="skill tool"> Tool
                <div class="skill tool">
                    <div class="lineBar">
                        <p> Jupyter Notebook </p>
                        <div class="barLine">
                            <div class="bar bar11"></div>
                        </div>
                        <p> Google Colab </p>
                        <div class="barLine">
                            <div class="bar bar12"></div>
                        </div>
                        <p> Visual Studio Code </p>
                        <div class="barLine">
                            <div class="bar bar13"></div>
                        </div>
                        <p> IntelliJ </p>
                        <div class="barLine">
                            <div class="bar bar14"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- db -->
            <div class="skill db"> Database
                <div class="skill db">
                    <div class="lineBar">
                        <p> MySQL </p>
                        <div class="barLine">
                            <div class="bar bar15"></div>
                        </div>
                        <p> NoSQL </p>
                        <div class="barLine">
                            <div class="bar bar16"></div>
                        </div>
                        <br>
                        <p> MongoDB </p>
                        <div class="barLine">
                            <div class="bar bar17"></div>
                        </div>
                        <p> Azure </p>
                        <div class="barLine">
                            <div class="bar bar18"></div>
                        </div>
                        <p> DBeaver </p>
                        <div class="barLine">
                            <div class="bar bar19"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- server / Collaboration-->
            <div class="skill server"> Server / Collaboration
                <div class="skill server">
                    <div class="lineBar">
                        <div class="server_text">
                            <h2> Server </h2>
                            <br>
                            <p> AWS S3 </p>
                            <p> AWS Elastic Beanstalk </p>
                        </div>
                        <div class="col_text">
                            <h2> Collaboration </h2>
                            <br>
                            <p> Git / Github </p>
                            <p> Slack </p>
                            <p> Notion </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        © 2024. 신지수 Co. all rights reserved.
    </footer>

</body>

</html>