<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .container {
            width: 300vw;
        }

        .slide-box {
            width: 100vw;
            float: left;
        }

    </style>
</head>
<body>
    <div>
        <div class="wrapContainer" style="overflow: hidden;">
            <div class="container">
                <div class="slide-box">
                    <img src="/public/img/night.png" alt="">
                </div>
                <div class="slide-box">
                    <img src="/public/img/fantasy.png" alt="">
                </div>
                <div class="slide-box">
                    <img src="/public/img/tooth.png" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>