<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 지수의 포트폴리오 </title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="work.css">
</head>

<body>
    <!-- header -->
    <header>
        <h2> <a href="/"> JISOO's PORTFOLIO </a></h2>
        <nav>
            <menu>
                <li><a href="/"> HOME </a></li>
                <li><a href="/aboutMe"> ABOUT ME </a></li>
                <li><a href="/skills"> SKILLS </a></li>
                <li><a href="/work"> MY WORK </a></li>
            </menu>
        </nav>
    </header>

    <!-- main -->
    <main>
        <div id="work">
            <div class="workBox design"">
                <div class=" title">
                    Design
                </div>
                <div class="workbox box01">
                    <p> - 영화 포스터_아바타</p>
                    <p> - 영화 포스터_한산:용의 출현 </p>
                    <p> - Album Cover_하이키 </p>
                    <p> - Book Cover_아름다운 배웅 </p>
                    <p> - 3단 접지 리플렛_독도 리플렛 </p>
                    <p> - 잡지 내지 디자인_유승호 </p>
                    <p> - 상세페이지 제작_오아 봉고데기 </p>
                </div>
                <div class="detail">
                    <p> 상세페이지 보기 </p>
                    <button type="button" class="enter" onclick="location.href='/work/design'"> 입장하기 </button>
                </div>
            </div>
            <div class="workBox Full">
                <div class="title">
                    FULL-STACK
                </div>
                <div class="workbox box02">
                    <p> - 쇼핑몰 메인 홈페이지 제작_TWEE </p>
                    <p> - 웹페이지 제작_한국장기조직기증원 </p>
                    <p> - 웹페이지 제작_을지대학교 장례식장 </p>
                    <p> - 그룹웨어 제작_TAGPlace </p>
                    <p> - PYGAME_Halloween Fantasy </p>
                    <p> - 데이터 분석_착한 가격 업소 </p>
                    <p> - DeepLearning_충치 자가진단 </p>
                    <p> - DeepLearning_AI 생활 보안 시스템 </p>
                </div>
                <div class="detail">
                    <p> 상세페이지 보기 </p>
                    <button type="button" class="enter" onclick="location.href='/work/fullStack'"> 입장하기 </button>
                </div>
            </div>
        </div>
    </main>


    <!-- footer -->
    <footer>
        © 2024. 신지수 Co. all rights reserved.
    </footer>

</body>

</html>