<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 지수의 포트폴리오 </title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/workFront.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>
    <!-- header -->
    <header>
        <h2> <a href="/"> JISOO's PORTFOLIO </a></h2>
        <nav>
            <menu>
                <li><a href="/"> HOME </a></li>
                <li><a href="/aboutMe"> ABOUT ME </a></li>
                <li><a href="/skills"> SKILLS </a></li>
                <li><a href="/work"> MY WORK </a></li>
            </menu>
        </nav>
    </header>

    <!-- main -->
    <main>
        <div id="main">
            <!-- 작품 모달창 BUTTON -->
            <button class="design_button design01" id="btn01">
                <p> 01 </p>
                <p> 영화 포스터_아바타 </p>
            </button>
            <!-- 모달창 -->
            <div class="modalWrap" id="work01">
                <!-- modal WORK - 아바타 -->
                <div class="modal work01">
                    <h3> 01 | 영화 포스터_아바타 </h3>
                    <img src="/img/아바타 작품기획서.jpg" alt="아바타" width="1200">
                    <button id="exit" class="exit"> 돌아가기 </button>
                </div>
            </div>

            <button class="design_button design02" id="btn02">
                <p> 02 </p>
                <p> 영화 포스터_한산:용의 출현 </p>
            </button>
            <!-- 모달창 -->
            <div class="modalWrap" id="work02">
                <!-- modal WORK - 한산 -->
                <div class="modal work02">
                    <h3> 02 | 영화 포스터_한산:용의 출현 </h3>
                    <img src="/img/re_한산 작품기획서.jpg" alt="한산" width="1200">
                    <button id="exit" class="exit"> 돌아가기 </button>
                </div>
            </div>

            <button class="design_button design03" id="btn03">
                <p> 03 </p>
                <p> Album Cover_하이키 </p>
            </button>
            <!-- 모달창 -->
            <div class="modalWrap" id="work03">
                <!-- modal WORK - 하이키 -->
                <div class="modal work03">
                    <h3> 06 | Album Cover_하이키 </h3>
                    <img src="/img/re_하이키 앨범자켓 기획서.jpg" alt="하이키" width="1200">
                    <button id="exit" class="exit"> 돌아가기 </button>
                </div>
            </div>

            <button class="design_button design04" id="btn04">
                <p> 04 </p>
                <p> Book Cover_아름다운 배웅 </p>
            </button>
            <!-- 모달창 -->
            <div class="modalWrap" id="work04">
                <!-- modal WORK - book -->
                <div class="modal work04">
                    <h3> 03 | Book Cover_아름다운 배웅 </h3>
                    <img src="/img/re_아름다운 배웅 기획서.jpg" alt="book" width="1200">
                    <button id="exit" class="exit"> 돌아가기 </button>
                </div>
            </div>

            <button class="design_button design05" id="btn05">
                <p> 05 </p>
                <p> 3단 접지 리플렛_독도 리플렛 </p>
            </button>
            <!-- 모달창 -->
            <div class="modalWrap" id="work05">
                <!-- modal WORK - 독도 -->
                <div class="modal work05">
                    <h3> 04 | 3단 접지 리플렛_독도박물관 </h3>
                    <img src="/img/re_독도리플렛 기획서.jpg" alt="독도" width="1200">
                    <button id="exit" class="exit"> 돌아가기 </button>
                </div>
            </div>

            <button class="design_button design06" id="btn06">
                <p> 06 </p>
                <p> 잡지 내지 디자인_유승호 </p>
            </button>
            <!-- 모달창 -->
            <div class="modalWrap" id="work06">
                <!-- modal WORK - 유승호 -->
                <div class="modal work06">
                    <h3> 05 | 잡지 내지 디자인_유승호 배우 </h3>
                    <img src="/img/re_잡지내지디자인 기획서.jpg" alt="유승호" width="1200">
                    <button id="exit" class="exit"> 돌아가기 </button>
                </div>
            </div>

            <button class="design_button design07" id="btn07">
                <p> 07 </p>
                <p> 상세페이지 제작_오아 봉고데기 </p>
            </button>
            <!-- 모달창 -->
            <div class="modalWrap" id="work07">
                <!-- modal WORK - 오아 -->
                <div class="modal work07">
                    <h3> 07 | 상세페이지 제작_오아 봉고데기 </h3>
                    <img src="/img/re_상세페이지 기획서.jpg" alt="오아" width="1200">
                    <button id="exit" class="exit"> 돌아가기 </button>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        © 2024. 신지수 Co. all rights reserved.
    </footer>

    <script>
        for (let i=1; i<=7; i++) {
            $('#btn0' + i ).on('click', function(){
                $('#work0' + i ).css('display', 'block');
            });

            // 모달창 바깥 영역 클릭하면 모달창 닫기
            // work01~07은 모달 바깥 영역
            // 모달 내부는 .modal 안에 있는 코드
            $('#work0' + i).on('click', function(event) {
                // event.target = click 요소
                // 클릭요소가 모달창인지 확인하기
                if ($(event.target).is('#work0' + i)) {
                    // $(this) = 현재 이벤트 발생 요소
                    $(this).css('display', 'none');
                }
            });
        }

        $('.exit').on('click', function() {
            // 열린 모달창 닫기
            $(this).closest('.modalWrap').css('display', 'none');
        });
    </script>
</body>
</html>