<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 지수의 포트폴리오 </title>
    <link rel="stylesheet" href="/main.css">
    <link rel="stylesheet" href="/workBack.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/e110d43ad3.js" crossorigin="anonymous"></script>
</head>

<body>
    <!-- header -->
    <header>
        <h2> <a href="/"> JISOO's PORTFOLIO </a></h2>
        <nav>
            <menu>
                <li><a href="/"> HOME </a></li>
                <li><a href="/aboutMe"> ABOUT ME </a></li>
                <li><a href="/skills"> SKILLS </a></li>
                <li><a href="/work"> MY WORK </a></li>
            </menu>
        </nav>
    </header>

    <!-- main -->
    <main>
        <div class="container">
            <div class="slide-box team">
                <div class="btn-box">
                    <button class="before">
                        < </button>
                            <button class="after"> > </button>
                    <span> 다음 페이지에서 개인 프로젝트를 확인하세요! </span>
                </div>

                <button class="ai_button ai01">
                    <p> 01 </p>
                    <p> PYGAME_Halloween Fantasy </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap" id="work01">
                    <!-- modal WORK -->
                    <div class="modal work01">
                        <h3> 01 | PYGAME_Halloween Fantasy </h3>
                        <div class="content">
                            <p class="proposal">
                                <a href="/img/PYGAME_Halloween Fantasy.pdf" target="_blank"> 
                                    <i class="fa-solid fa-icons fa-beat"></i> 기획서 보기
                                </a>
                            </p>
                            <img src="/img/fantasy.png" alt="fantasy">
                            <p class="code-link"> 
                                <a href="https://github.com/d2vsoo/Pygame_HalloweenFantasy.git" target="_blank"> 
                                    <i class="fa-solid fa-code fa-bounce"></i> 
                                    코드 보러가기 
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <button class="ai_button ai02">
                    <p> 02 </p>
                    <p> 데이터 분석_착한 가격 업소 </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap" id="work02">
                    <!-- modal WORK -->
                    <div class="modal work02">
                        <h3> 02 | 데이터 분석_착한 가격 업소 </h3>
                        <div class="content">
                            <p class="proposal">
                                
                                <a href="/img/착한가격업소_PPT.pdf" target="_blank"> <i class="fa-solid fa-icons fa-beat"></i> 기획서 보기
                                </a>
                            </p>
                            <img src="/img/착한가격.png" alt="price">
                            <p class="code-link"> 
                                <a href="https://github.com/d2vsoo/Crawling_GoodpriceEstablishment.git" target="_blank"> 
                                    <i class="fa-solid fa-code fa-bounce"></i> 
                                    코드 보러가기 
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <button class="ai_button ai03">
                    <p> 03 </p>
                    <p> 딥러닝_충치 자가진단 </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap" id="work03">
                    <!-- modal WORK -->
                    <div class="modal work03">
                        <h3> 03 | 딥러닝_충치 자가진단 </h3>
                        <div class="content">
                            <p class="proposal">
                                <a href="/img/Tooth_Final.pdf" target="_blank"> <i class="fa-solid fa-icons fa-beat"></i> 기획서 보기
                                </a>
                            </p>
                            <img src="/img/tooth.png" alt="tooth">
                            <p class="code-link"> 
                                <a href="#" target="_blank"> 
                                    <i class="fa-solid fa-code fa-bounce"></i> 
                                    코드 보러가기 
                                </a>
                            </p>
                        </div>
                    </div>
                </div>

                <button class="ai_button ai04">
                    <p> 04 </p>
                    <p> 딥러닝_AI 생활 보안 시스템 </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap" id="work04">
                    <!-- modal WORK -->
                    <div class="modal work04">
                        <h3> 04 | 딥러닝_AI 생활 보안 시스템 </h3>
                        <div class="content">
                            <p class="proposal">
                                
                                <a href="/img/Security_Final.pdf" target="_blank"> <i class="fa-solid fa-icons fa-beat"></i> 기획서 보기
                                </a>
                            </p>
                            <img src="/img/security.png" alt="security">
                            <p class="code-link"> 
                                <a href="#" target="_blank"> 
                                    <i class="fa-solid fa-code fa-bounce"></i> 
                                    코드 보러가기 
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slide-box personal">
                <div class="btn-box02">
                    <button class="prev">
                        < </button>
                            <button class="next"> > </button>
                </div>
                <button class="web_button web01">
                    <p> 01 </p>
                    <p> 쇼핑몰 메인 홈페이지 제작_트위 </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap-web" id="webwork01">
                    <!-- modal WORK -->
                    <div class="modal-web web-work01">
                        <h3> 01 | 쇼핑몰 메인 홈페이지 제작_트위 </h3>
                        <img src="/img/TWEE.jpg" alt="TWEE">
                        <p class="code"> 
                            <a href="https://github.com/d2vsoo/Shop_Twee.git" target="_blank"> 
                                <i class="fa-solid fa-code fa-bounce"></i> 
                                코드 보러가기 
                            </a>
                        </p>
                    </div>
                </div>

                <button class="web_button web02">
                    <p> 02 </p>
                    <p> 웹페이지 제작_한국장기조직기증원 </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap-web" id="webwork02">
                    <!-- modal WORK -->
                    <div class="modal-web web-work02">
                        <h3> 02 | 웹페이지 제작_한국장기조직기증원 </h3>
                        <img src="/img/장기.jpg" alt="koda">
                        <p class="code"> 
                            <a href="https://github.com/d2vsoo/Web_KODA.git" target="_blank"> 
                                <i class="fa-solid fa-code fa-bounce"></i> 
                                코드 보러가기 
                            </a>
                        </p>
                    </div>
                </div>

                <button class="web_button web03">
                    <p> 03 </p>
                    <p> 지수의 Portfolio </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap-web" id="webwork03">
                    <!-- modal WORK -->
                    <div class="modal-web web-work03">
                        <h3> 03 | 지수의 Portfolio </h3>
                        <img src="/img/portfolio.jpg" alt="PORTFOLIO">
                        <p class="code"> 
                            <a href="https://github.com/d2vsoo/JS_Portfolio.git" target="_blank"> 
                                <i class="fa-solid fa-code fa-bounce"></i> 
                                코드 보러가기 
                            </a>
                        </p>
                    </div>
                </div>

                <button class="web_button web04">
                    <p> 04 </p>
                    <p> 웹 리뉴얼_의정부을지대병원장례식장 </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap-web" id="webwork04">
                    <!-- modal WORK -->
                    <div class="modal-web webwork04">
                        <h3> 04 | 웹 리뉴얼_의정부을지대병원장례식장 </h3>
                        <p> - 제작 중입니닷!!! - </p>
                        <img src="/img/eulji.jpg" alt="eulji">
                        <p class="code"> 
                            <a href="https://github.com/d2vsoo/Web_Funeral.git" target="_blank"> 
                                <i class="fa-solid fa-code fa-bounce"></i> 
                                코드 보러가기 
                            </a>
                        </p>
                    </div>
                </div>

                <button class="web_button web05">
                    <p> 03 </p>
                    <p> 그룹웨어 제작_TagPlace </p>
                </button>
                <!-- 모달창 -->
                <div class="modalWrap-web" id="webwork05">
                    <!-- modal WORK -->
                    <div class="modal-web webwork05">
                        <h3> 05 | 그룹웨어 제작_TagPlace </h3>
                        <p> - 제작 중입니닷!!! - </p>
                        <img src="/img/tagplace.jpg" alt="tagplace">
                        <p class="code"> 
                            <a href="#" target="_blank"> 
                                <i class="fa-solid fa-code fa-bounce"></i> 
                                코드 보러가기 
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- footer -->
    <footer>
        © 2024. 신지수 Co. all rights reserved.
    </footer>

    <!-- 자바 스크립트 연동 -->
    <script type="text/javascript" src="/workBack.js"></script>
</body>

</html>