<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> 지수의 포트폴리오 </title>
    <link rel="stylesheet" href="/public/main.css">
    <link rel="stylesheet" href="/public/work.css">
    <link rel="import" href="work_pop.html">
</head>

<body>
    <!-- header -->
    <header>
        <h2> JISOO's PORTFOLIO </h2>
        <nav>
            <menu>
                <li><a href="/views/index.html"> HOME </a></li>
                <li><a href="/views/about.html"> ABOUT ME </a></li>
                <li><a href="/views/skills.html"> SKILLS </a></li>
                <li><a href="/views/work.html"> MY WORK </a></li>
            </menu>
        </nav>
    </header>

    <!-- main -->
    <main>
        <!-- 작품 팝업창 -->
        <div id="background" class="hidden"></div>

        <!-- POPUP WORK - 아바타 -->
        <div id="work" class="hidden work01">
            <h3> 01 | 영화 포스터_아바타 </h3>
            <img src="/public/img/아바타 작품기획서.jpg" alt="아바타" width="1200">
            <button id="exit" class="exit"> 나가기 </button>
        </div>

        <!-- POPUP WORK - 한산 -->
        <div id="work" class="hidden work02">
            <h3> 02 | 영화 포스터_한산:용의 출현 </h3>
            <img src="/public/img/re_한산 작품기획서.jpg" alt="한산" width="1200">
            <button id="exit" class="exit"> 나가기 </button>
        </div>

        <!-- POPUP WORK - 하이키 -->
        <div id="work" class="hidden work03">
            <h3> 03 | Album Cover_하이키 </h3>
            <img src="/public/img/re_하이키 앨범자켓 기획서.jpg" alt="하이키" width="1200">
            <button id="exit" class="exit"> 나가기 </button>
        </div>

        <!-- POPUP WORK - 아름다운 배웅 -->
        <div id="work" class="hidden work04">
            <h3> 04 | Book Cover_아름다운 배웅 </h3>
            <img src="/public/img/re_아름다운 배웅 기획서.jpg" alt="아름다운 배웅" width="1200">
            <button id="exit" class="exit"> 나가기 </button>
        </div>

        <!-- POPUP WORK - 독도 -->
        <div id="work" class="hidden work05">
            <h3> 05 | 3단 접지 리플렛_독도 리플렛 </h3>
            <img src="/public/img/re_독도리플렛 기획서.jpg" alt="독도" width="1200">
            <button id="exit" class="exit"> 나가기 </button>
        </div>

        <!-- POPUP WORK - 유승호 -->
        <div id="work" class="hidden work06">
            <h3> 06 | 잡지 내지 디자인_유승호 </h3>
            <img src="/public/img/re_잡지내지디자인 기획서.jpg" alt="유승호" width="1200">
            <button id="exit" class="exit"> 나가기 </button>
        </div>

        <!-- POPUP WORK - 오아 봉고데기 -->
        <div id="work" class="hidden work07">
            <h3> 07 | 상세페이지 제작_오아 봉고데기 </h3>
            <img src="/public/img/re_상세페이지 기획서.jpg" alt="오아" width="1200">
            <button id="exit" class="exit"> 나가기 </button>
        </div>
    </main>


    <!-- footer -->
    <footer>
        © 2024. 신지수 Co. all rights reserved.
    </footer>

</body>

</html>